<ul>
<li>9.1.1.1 / 1.1.1 Non-text Content (A), </li>
<li>9.1.3.1 / 1.3.1 Info and Relationships (A), </li>
<li>9.1.3.2 / 1.3.2 Meaningful Sequence (AA), </li>
<li>9.2.4.1 / 2.4.1 Bypass Blocks (AA), </li>
<li>9.2.4.3 / 2.4.3 Focus Order (A), </li>
<li>9.3.1.1 / 3.1.1 Language of Page (A), </li>
<li>9.4.1.2 / 4.1.2 Name, Role, Value (A). </li>
</ul>