<p>Dans chaque page web, chaque changement du <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#sens-de-lecture">sens de lecture</a> (attribut <code>dir</code>) vérifie-t-il ces conditions ?</p>

<ul>
<li>La valeur de l’attribut <code>dir</code> est conforme (<code>rtl</code> ou <code>ltr</code>).</li>
<li>La valeur de l’attribut <code>dir</code> est pertinente.</li>
</ul>