<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#script">script</a> qui initie un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#changement-de-contexte">changement de contexte</a> vérifie-t-il une de ces conditions ?</p>

<ul>
<li>L’utilisateur est averti par un texte de l’action du script et du type de changement avant son déclenchement.</li>
<li>Le changement de contexte est initié par un bouton (input de type <code>submit</code>, <code>button</code> ou <code>image</code> ou balise <code>&lt;button&gt;</code>) explicite.</li>
<li>Le changement de contexte est initié par un lien explicite.</li>
</ul>