<p>Dans chaque page web, chaque contenu cryptique (art ASCII, émoticon, syntaxe cryptique) vérifie-t-il une de ces conditions ?</p>

<ul>
<li>Un attribut <code>title</code> est disponible.</li>
<li>Une définition est donnée par le contexte adjacent.</li>
</ul>