<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#tableau-de-donnees-complexe">tableau de données complexe</a> a-t-il un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#resume">résumé</a> ?</p>