<p>Chaque élément possédant un gestionnaire d’événement contrôlé par un script vérifie-t-il une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>L’élément est <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#accessible-et-activable-par-le-clavier-et-tout-dispositif-de-pointage">accessible par le clavier et tout dispositif de pointage</a>.</li>
<li>Un élément <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#accessible-et-activable-par-le-clavier-et-tout-dispositif-de-pointage">accessible par le clavier et tout dispositif de pointage</a> permettant de réaliser la même action est présent dans la page.</li>
</ul>