<p>Lorsqu’une image est associée à une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a>, la note technique WCAG recommande de prévoir systématiquement une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a> (cf. <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#crit-1-9">critère 1.9</a>). Dans ce cas le critère 1.2 est non applicable.</p>

<p>Dans le cas d’une image vectorielle (balise <code>&lt;svg&gt;</code>) de décoration qui serait affichée au travers d’un élément <code>&lt;use href="..."&gt;</code> enfant de l’élément <code>&lt;svg&gt;</code>, le test 1.2.4 s’appliquera également à la balise <code>&lt;svg&gt;</code> associée par le biais de la balise <code>&lt;use&gt;</code>.</p>

<p>Un attribut WAI-ARIA <code>role="presentation"</code> peut être utilisé sur les images de décoration et les zones non cliquables de décoration. Le rôle <code>"none"</code> introduit en ARIA 1.1 et synonyme du rôle <code>"presentation"</code> peut être aussi utilisé. Il reste préférable cependant d’utiliser le rôle <code>"presentation"</code> en attendant un support satisfaisant du rôle <code>"none"</code>.</p>