<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-de-decoration">image de décoration</a> est-elle correctement ignorée par les technologies d’assistance ?</p>