<p>Dans chaque page web, pour chaque élément recevant le focus, la <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#prise-de-focus">prise de focus</a> est-elle visible ?</p>