<p>Les champs obligatoires ayant l’attribut aria-invalid="true" vérifient-ils une de ces conditions ?</p>

<ul>
<li>Une indication de champ obligatoire est visible et située dans l’étiquette associée au champ.</li>
<li>Une indication de champ obligatoire est visible et située dans le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> associé au champ.</li>
</ul>