<p>Chaque image vectorielle (balise <code>&lt;svg&gt;</code>) <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-porteuse-d-information">porteuse d’information</a>, qui nécessite une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a>, vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>Il existe un attribut WAI-ARIA <code>aria-label</code> contenant l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a> et une référence à une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a> adjacente.</li>
<li>Il existe un attribut WAI-ARIA <code>aria-labelledby</code> associant un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> faisant office d’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a> et un autre faisant office de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a>.</li>
<li>Il existe un attribut WAI-ARIA <code>aria-describedby</code> associant un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> faisant office de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a>.</li>
<li>Il existe un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#lien-ou-bouton-adjacent">lien ou un bouton adjacent</a> permettant d’accéder à la <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a>.</li>
</ul>