<p>Chaque contenu additionnel qui apparait au survol d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composant d’interface</a> peut-il être survolé par le pointeur de la souris sans disparaître (hors cas particuliers) ?</p>