<p>Dans chaque page web, chaque image (balise <code>&lt;img&gt;</code>, balise <code>&lt;svg&gt;</code>, balise <code>&lt;canvas&gt;</code>, balise <code>&lt;embed&gt;</code> ou balise <code>&lt;object&gt;</code>) qui provoque un changement brusque de luminosité ou un effet de flash vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>La fréquence de l’effet est inférieure à 3 par seconde.</li>
<li>La surface totale cumulée des effets est inférieure ou égale à 21824 pixels.</li>
</ul>