<p>Chaque image vectorielle (balise <code>&lt;svg&gt;</code>) <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-de-decoration">de décoration</a>, sans <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a>, vérifie-t-elle ces conditions ?</p>

<ul>
<li>La balise <code>&lt;svg&gt;</code> possède un attribut WAI-ARIA <code>aria-hidden="true"</code>.</li>
<li>La balise <code>&lt;svg&gt;</code> et ses enfants sont dépourvus d’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a>.</li>
<li>Les balises <code>&lt;title&gt;</code> et <code>&lt;desc&gt;</code> sont absentes ou vides.</li>
<li>La balise <code>&lt;svg&gt;</code> et ses enfants sont dépourvus d’attribut <code>title</code>.</li>
</ul>