<p>Dans chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#ensemble-de-pages">ensemble de pages</a>, le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#liens-d-evitement-ou-d-acces-rapide">lien d’évitement ou d’accès rapide</a> à la <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#zone-de-contenu-principal">zone de contenu principal</a> vérifient-il ces conditions (hors cas particuliers) ?</p>

<ul>
<li>Le lien est situé à la même place dans la présentation.</li>
<li>Le lien se présente toujours dans le même ordre relatif dans le code source.</li>
<li>Le lien est visible à la prise de focus au moins.</li>
</ul>