<p>Lorsque le contenu additionnel est contrôlé par l’agent utilisateur (par exemple, attribut <code>title</code> ou validation native de formulaire) ou correspond à une fenêtre modale conforme au motif de conception WAI-ARIA <code>dialog</code>, le critère 10.13 est non applicable.</p>

<p>Lorsque le contenu additionnel ne masque ou ne remplace aucun contenu porteur d’information le test 10.13.1 est non applicable.</p>