<p>Chaque image vectorielle (balise <code>&lt;svg&gt;</code>) <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-porteuse-d-information">porteuse d’information</a>, vérifie-t-elle ces conditions ?</p>

<ul>
<li>La balise <code>&lt;svg&gt;</code> possède un attribut WAI-ARIA <code>role="img"</code>.</li>
<li>La balise <code>&lt;svg&gt;</code> a une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a>.</li>
</ul>