<p>Il existe une gestion de cas particulier lorsque :</p>

<ul>
<li>Le mouvement est essentiel à l’accomplissement de la fonctionnalité (ex. podomètre).</li>
<li>La détection du mouvement est utilisée pour contrôler une fonctionnalité au travers d’une interface compatible avec l’accessibilité.</li>
</ul>