<p>Les attributs WAI-ARIA <code>role="list"</code> et <code>"listitem"</code> peuvent nécessiter l’utilisation des attributs WAI-ARIA <code>aria-setsize</code> et <code>aria-posinset</code> dans le cas où l’ensemble de la liste n’est pas disponible via le DOM généré au moment de la consultation.</p>

<p>Les attributs WAI-ARIA <code>role="tree"</code>, <code>"tablist"</code>, <code>"menu"</code>, <code>"combobox"</code> et <code>"listbox"</code> ne sont pas équivalents à une liste HTML <code>&lt;ul&gt;</code> ou <code>&lt;ol&gt;</code>.</p>

<p>Voir : <a href="https://www.w3.org/TR/wai-aria/#list">The roles model - list</a></p>