<p>Font exception à ce critère les contenus pour lesquels l’utilisateur n’a pas de possibilité de personnalisation :</p>

<ul>
<li>Les sous-titres directement intégrés à une vidéo.</li>
<li>Les images texte.</li>
<li>Le texte au sein d’une balise <code>&lt;canvas&gt;</code>.</li>
</ul>