<p>Dans chaque page web, chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#raccourci-clavier">raccourci clavier</a> n’utilisant qu’une seule touche (lettres minuscule ou majuscule, ponctuation, chiffre ou symbole) vérifie-t-il l’une de ces conditions ?</p>

<ul>
<li>Un mécanisme est disponible pour désactiver le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#raccourci-clavier">raccourci clavier</a>.</li>
<li>Un mécanisme est disponible pour configurer la touche de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#raccourci-clavier">raccourci clavier</a> au moyen des touches de modification (Ctrl, Alt, Maj, etc).</li>
<li>Dans le cas d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composant d’interface</a> utilisateur, le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#raccourci-clavier">raccourci clavier</a> qui lui est associé ne peut être activé que si le focus clavier est sur ce composant.</li>
</ul>