<p>Il existe une gestion de cas particuliers lorsque l’image est utilisée comme <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#captcha">CAPTCHA</a> ou comme <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-test">image-test</a>. Dans cette situation, où il n’est pas possible de donner une alternative pertinente sans détruire l’objet du CAPTCHA ou du test, le critère est non applicable.</p>

<p>Note : le cas des CAPTCHA et des <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-test">images-test</a> est traité de manière spécifique par le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#crit-1-4">critère 1.4</a>.</p>