<p>WAI-ARIA permet de définir des titres via le rôle <code>heading</code> et l’attribut <code>aria-level</code> (indication du niveau de titre). Bien qu’il soit préférable d’utiliser l’élément de titre natif en HTML <code>&lt;hx&gt;</code>, l’utilisation du rôle WAI-ARIA <code>heading</code> est compatible avec l’accessibilité.</p>

<p>Bien que la spécification HTML5 autorise l’utilisation exclusive de titres de niveau 1 (<code>h1</code>), le manque de support des technologies d’assistance oblige à utiliser une hiérarchie de titres pertinente.</p>