<p>Chaque bouton associé à une image (balise <code>input</code> avec l’attribut <code>type="image"</code>) utilisée comme <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#captcha">CAPTCHA</a> vérifie-t-il une de ces conditions ?</p>

<ul>
<li>Il existe une autre forme de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#captcha">CAPTCHA</a> non graphique, au moins.</li>
<li>Il existe une autre solution d’accès à la fonctionnalité sécurisée par le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#captcha">CAPTCHA</a>.</li>
</ul>