<p>L’intitulé de chaque bouton est-il pertinent ?</p>

<ul>
<li>S’il est présent, le contenu de l’attribut WAI-ARIA <code>aria-label</code> est pertinent.</li>
<li>S’il est présent, le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> lié au bouton via un attribut WAI-ARIA <code>aria-labelledby</code> est pertinent.</li>
<li>S’il est présent, le contenu de l’attribut value d’une balise <code>&lt;input&gt;</code> de type submit, reset ou button est pertinent.</li>
<li>S’il est présent, le contenu de la balise <code>&lt;button&gt;</code> est pertinent.</li>
<li>S’il est présent, le contenu de l’attribut alt d’une balise <code>&lt;input&gt;</code> de type image est pertinent.</li>
<li>S’il est présent, le contenu de l’attribut title est pertinent.</li>
</ul>