<p>Dans chaque page web, chaque lien texte signalé uniquement par la couleur, et dont la nature n’est pas évidente, vérifie-t-il ces conditions ?</p>

<ul>
<li>La couleur du lien à un rapport de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contraste">contraste</a> supérieur ou égal à 3:1 par rapport au texte environnant.</li>
<li>Le lien dispose d’une indication visuelle au survol autre qu’un changement de couleur.</li>
<li>Le lien dispose d’une indication visuelle au focus autre qu’un changement de couleur.</li>
</ul>