<p>Chaque image bitmap (balise <code>&lt;canvas&gt;</code>) <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-de-decoration">de décoration</a>, sans <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a>, vérifie-t-elle ces conditions ?</p>

<ul>
<li>La balise <code>&lt;canvas&gt;</code> possède un attribut WAI-ARIA <code>aria-hidden="true"</code>.</li>
<li>La balise <code>&lt;canvas&gt;</code> et ses enfants sont dépourvus d’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a>.</li>
<li>Il n’y a aucun texte faisant office d’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a> entre <code>&lt;canvas&gt;</code> et <code>&lt;/canvas&gt;</code>.</li>
</ul>