<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#media-non-temporel">média non temporel</a> associé à une alternative vérifie-t-il une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>La page référencée par le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#lien-ou-bouton-adjacent">lien ou bouton adjacent</a> est accessible.</li>
<li>L’alternative dans la page, référencée par le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#lien-ou-bouton-adjacent">lien ou bouton adjacent</a>, est accessible.</li>
</ul>