<p>WAI-ARIA propose un attribut <code>aria-hidden</code> (<code>true</code> ou <code>false</code>) qui permet d’inhiber la restitution d’un contenu en direction des technologies d’assistance, sans action sur sa visibilité en direction des agents utilisateurs : un contenu avec <code>aria-hidden="true"</code> ne sera donc plus vocalisable, mais restera visible.</p>

<p>Sauf si le contenu contrôlé par <code>aria-hidden</code> n’a pas vocation à être restitué par les technologies d’assistance, la valeur de l’attribut <code>aria-hidden</code> doit être cohérente avec l’état affiché ou masqué du contenu à l’écran.</p>

<p>La spécification HTML5 propose un attribut <code>hidden</code> qui permet de rendre indisponible (quand l’attribut hidden est présent) un contenu dans le DOM généré (de manière similaire au <code>type="hidden"</code> sur un contrôle de formulaire).</p>

<p>Il est possible d’avoir des situations où un contenu contrôlé par <code>hidden</code> ou <code>aria-hidden</code> se trouve momentanément dans un état incohérent avec le statut affiché ou masqué du contenu, par exemple si l’on désire rendre disponible un élément, mais que son affichage à l’écran reste dépendant d’une action ultérieure. Dans ce cas, c’est l’état final du contenu qui doit être considéré.</p>