<p>Dans chaque page web, l’augmentation de la <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#taille-des-caracteres">taille des caractères</a> jusqu’à 200%, au moins, ne doit pas provoquer de perte d’information. Cette règle est-t-elle respectée selon une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>Lors de l’utilisation de la fonction d’agrandissement du texte du navigateur.</li>
<li>Lors de l’utilisation des fonctions de zoom graphique du navigateur.</li>
<li>Lors de l’utilisation d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composant d’interface</a> propre au site permettant d’agrandir le texte ou de zoomer.</li>
</ul>