<p>Il existe une gestion de cas particulier lorsque :</p>

<ul>
<li>Le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#media-temporel-type-son-video-et-synchronise">média temporel</a> est utilisé à des fins décoratives (c’est-à-dire qu’il n’apporte aucune information);</li>
<li>Le média temporel est lui-même une alternative à un contenu de la page (une vidéo en langue des signes ou la vocalisation d’un texte, par exemple);</li>
<li>Le média temporel est utilisé pour accéder à une version agrandie;</li>
<li>Le média temporel est utilisé comme un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#captcha">CAPTCHA</a>;</li>
<li>Le média temporel fait partie d’un test qui deviendrait inutile si la <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#transcription-textuelle-media-temporel">transcription textuelle</a>, les <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#sous-titres-synchronises-objet-multimedia">sous-titres synchronisés</a> ou l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#audiodescription-synchronisee-media-temporel">audiodescription</a> étaient communiqués;</li>
<li>Pour les services de l’État, les collectivités territoriales et leurs établissement : si le média temporel a été publié entre le 23 septembre 2019 et le 23 septembre 2020 sur un site internet, intranet ou extranet créé depuis le 23 septembre 2018, il est exempté de l’obligation d’accessibilité;</li>
<li>Pour les personnes de droit privé mentionnées aux 2° à 4° du I de l’article 47 de la loi du 11 février 2005 : si le média temporel a été publié avant le 23 septembre 2020, il est exempté de l’obligation d’accessibilité.</li>
</ul>

<p>Dans ces situations, le critère est non applicable.</p>

<p>Ce cas particulier s’applique également aux critères 4.2, 4.3, 4.5.</p>