<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#media-temporel-type-son-video-et-synchronise">média temporel</a> et <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#media-non-temporel">non temporel</a> qui possède une alternative <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#compatible-avec-les-technologies-d-assistance">compatible avec les technologies d’assistance</a>, vérifie-t-il une de ces conditions ?</p>

<ul>
<li>L’alternative est adjacente au média temporel ou non temporel.</li>
<li>L’alternative est accessible via un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#lien-ou-bouton-adjacent">lien ou bouton adjacent</a>.</li>
<li>Un mécanisme permet de remplacer le média temporel ou non temporel par son alternative.</li>
</ul>