<p>Pour chaque page web ayant un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#titre-de-page">titre de page</a> (balise <code>&lt;title&gt;</code>), le contenu de cette balise est-il pertinent ?</p>