<p>Les champs de même nature vérifient-ils l’une de ces conditions, si nécessaire ?</p>

<ul>
<li>Les champs de même nature sont regroupés dans une balise <fieldset>.</li>
<li>Les champs de même nature sont regroupés dans une balise possédant un attribut WAI-ARIA <code>role="group"</code>.</li>
<li>Les champs de même nature de type radio (<input type="radio"> ou balises possédant un attribut WAI-ARIA role="radio") sont regroupés dans une balise possédant un attribut WAI-ARIA role="radiogroup" ou "group".</li>
</ul>