<p>Les champs obligatoires ayant l’attribut aria-required="true" ou required vérifient-ils une de ces conditions ?</p>

<ul>
<li>Une indication de champ obligatoire est visible et située dans l’étiquette associé au champ préalablement à la validation du formulaire.</li>
<li>Une indication de champ obligatoire est visible et située dans le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> associé au champ préalablement à la validation du formulaire.</li>
</ul>