<p>Pour chaque contenu de balise <code>&lt;th&gt;</code> s’appliquant à la totalité de la ligne ou de la colonne et possédant un attribut <code>scope</code>, la balise <code>&lt;th&gt;</code> vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>La balise <code>&lt;th&gt;</code> possède un attribut scope avec la valeur <code>"row"</code> pour les <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#en-tete-de-colonne-ou-de-ligne">en-tête de lignes</a>.</li>
<li>La balise <code>&lt;th&gt;</code> possède un attribut scope avec la valeur <code>"col"</code> pour les <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#en-tete-de-colonne-ou-de-ligne">en-tête de colonnes</a>.</li>
</ul>