<p>Pour chaque page web possédant une déclaration de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#type-de-document">type de document</a>, celle-ci est-elle située avant la balise <code>&lt;html&gt;</code> dans le code source ?</p>