<p>Pour chaque document bureautique ayant une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#version-accessible-pour-un-document-en-telechargement">version accessible</a>, cette version offre-t-elle la même information ?</p>