<p>Dans chaque page web, chaque contenu en mouvement ou clignotant est-il <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#controle-contenu-en-mouvement-ou-clignotant">contrôlable</a> par l’utilisateur ?</p>