<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#media-temporel-type-son-video-et-synchronise">média temporel</a> et <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#media-non-temporel">non temporel</a> vérifie-t-il une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>Le nom, le rôle, la valeur, le paramétrage et les changements d’états des <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composants d’interface</a>s sont accessibles aux technologies d’assistance via une API d’accessibilité.</li>
<li>Une alternative <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#compatible-avec-les-technologies-d-assistance">compatible avec une API d’accessibilité</a> permet d’accéder aux mêmes fonctionnalités.</li>
</ul>