<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#etiquette-de-champ-de-formulaire">étiquette</a> <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#accoles-etiquette-et-champ-accoles">accolée</a> à un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ</a> (à l’exception des case à cocher, bouton radio ou balises ayant un attribut WAI-ARIA <code>role="checkbox"</code>, <code>role="radio"</code> ou <code>role="switch"</code>), vérifie-t-elle ces conditions (hors cas particuliers) ?</p>

<ul>
<li>L’étiquette est visuellement <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#accoles-etiquette-et-champ-accoles">accolée</a> immédiatement au-dessus ou à gauche du <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> lorsque le sens de lecture de la langue de l’étiquette est de gauche à droite.</li>
<li>L’étiquette est visuellement <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#accoles-etiquette-et-champ-accoles">accolée</a> immédiatement au-dessus ou à droite du <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> lorsque le sens de lecture de la langue de l’étiquette est de droite à gauche.</li>
</ul>