<p>Il existe une gestion de cas particuliers lorsque la limite de temps est essentielle, notamment lorsqu’elle ne pourrait pas être supprimée sans changer fondamentalement le contenu ou les fonctionnalités liées au contenu.</p>

<p>Dans ces situations, le critère est non applicable. Par exemple, le rafraîchissement d’un flux RSS dans une page n’est pas une limite de temps essentielle ; le critère est applicable. En revanche, une redirection automatique qui amène vers la nouvelle version d’une page à partir d’une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#url">url</a> obsolète est essentielle ; le critère est non applicable.</p>