<p>Pour chaque page web, le code de langue de chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#changement-de-langue">changement de langue</a> vérifie-t-il ces conditions ?</p>

<ul>
<li>Le code de langue est valide.</li>
<li>Le code de langue est pertinent.</li>
</ul>