<p>Chaque élément non textuel mis à jour par un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#script">script</a> (dans la page, ou dans un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#cadre">cadre</a>) et ayant une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-a-script">alternative</a> vérifie-t-il ces conditions ?</p>

<ul>
<li>L’alternative de l’élément non textuel est mise à jour.</li>
<li>L’alternative mise à jour est pertinente.</li>
</ul>