<p>Chaque image (balise <code>&lt;img&gt;</code>) <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-de-decoration">de décoration</a>, sans <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a>, vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>La balise <code>&lt;img&gt;</code> possède un attribut alt vide (<code>alt=""</code>) et est dépourvue de tout autre attribut permettant de fournir une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a>.</li>
<li>La balise <code>&lt;img&gt;</code> possède un attribut WAI-ARIA <code>aria-hidden="true"</code> ou <code>role="presentation"</code>.</li>
</ul>