<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#tableau-de-mise-en-forme">tableau de mise en forme</a> vérifie-t-il ces conditions (hors cas particuliers) ?</p>

<ul>
<li>Le contenu linéarisé reste compréhensible.</li>
<li>La balise <code>&lt;table&gt;</code> possède un attribut <code>role="presentation"</code>.</li>
</ul>