<p>Chaque son déclenché automatiquement est-il <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#controle-son-declenche-automatiquement">contrôlable</a> par l’utilisateur ?</p>