<p>Dans chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#ensemble-de-pages">ensemble de pages</a>, chaque page disposant d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#menu-et-barre-de-navigation">menu ou de barres de navigation</a> vérifie-t-elle ces conditions (hors cas particuliers) ?</p>

<ul>
<li>Le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#menu-et-barre-de-navigation">menu ou de barres de navigation</a> est toujours à la même place dans la présentation.</li>
<li>Le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#menu-et-barre-de-navigation">menu ou de barres de navigation</a> se présente toujours dans le même ordre relatif dans le code source.</li>
</ul>