<p>Chaque contenu additionnel qui apparaît à la prise de focus ou au survol d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composant d’interface</a> vérifie-t-il une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>Le contenu additionnel reste visible jusqu’à ce que l’utilisateur retire le pointeur souris ou le focus du contenu additionnel et du <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composant d’interface</a> ayant déclenché son apparition.</li>
<li>Le contenu additionnel reste visible jusqu’à ce l’utilisateur déclenche une action masquant ce contenu sans déplacer le focus ou le pointeur souris du <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composant d’interface</a> ayant déclenché son apparition.</li>
<li>Le contenu additionnel reste visible jusqu’à ce qu’il ne soit plus valide.</li>
</ul>