<p>Dans chaque page web, chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#changement-de-langue">changement de langue</a> est-il indiqué dans le code source (hors cas particuliers) ?</p>