<p>Pour chaque contenu de balise <code>&lt;td&gt;</code> ou <code>&lt;th&gt;</code> associée à un ou plusieurs en-têtes possédant un attribut <code>id</code>, la balise vérifie-t-elle ces conditions ?</p>

<ul>
<li>La balise possède un attribut <code>headers</code>.</li>
<li>L’attribut <code>headers</code> possède la liste des valeurs d’attribut <code>id</code> des <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#en-tete-de-colonne-ou-de-ligne">en-têtes</a> associés.</li>
</ul>