<p>Chaque image (balises <code>&lt;img&gt;</code>, <code>&lt;area&gt;</code>, <code>&lt;object&gt;</code>, <code>&lt;embed&gt;</code>, <code>&lt;svg&gt;</code>, <code>&lt;canvas&gt;</code> ou possédant un attribut WAI-ARIA <code>role="img"</code>) utilisée comme CAPTCHA vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>Il existe une autre forme de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#captcha">CAPTCHA</a> non graphique, au moins.</li>
<li>Il existe une autre solution d’accès à la fonctionnalité qui est sécurisée par le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#captcha">CAPTCHA</a>.</li>
</ul>