<p>Il existe des interfaces pour lesquelles l’orientation du périphérique est essentielle à leur utilisation.</p>

<p>Dans ces situations, le critère est non applicable. Il peut s’agir d’interfaces de jeu, de piano, de dépôt de chèques bancaires, etc.</p>

<p>Si l’interface est le seul moyen d’accéder au service proposé, une alternative devrait être mise en place pour pallier cette carence.</p>

<p>Références documentaires :</p>

<ul>
<li>API JS : <a href="https://www.w3.org/TR/screen-orientation/">https://www.w3.org/TR/screen-orientation/</a>.</li>
<li>API Viewport : <a href="https://www.w3.org/TR/css-device-adapt-1/#orientation-desc">https://www.w3.org/TR/css-device-adapt-1/#orientation-desc</a>.</li>
</ul>