<p>Pour chaque élément recevant le focus, la prise de focus vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>Le style du focus natif du navigateur n’est pas supprimé ou dégradé.</li>
<li>Un style du focus défini par l’auteur est visible.</li>
</ul>