<p>Dans chaque page web, les contenus additionnels apparaissant au focus d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composant d’interface</a> via les styles CSS respectent-ils si nécessaire une de ces conditions ?</p>

<ul>
<li>Les contenus additionnels apparaissent également à l’activation du composant via le clavier et tout dispositif de pointage.</li>
<li>Les contenus additionnels apparaissent également au survol du composant.</li>
<li>Les contenus additionnels apparaissent également par le biais de l’activation ou du survol d’un autre composant.</li>
</ul>