<p>Il existe une gestion de cas particuliers lorsque le site web est constitué d’une seule page ou d’un nombre très limité de pages (cf. note) pour lesquels la fonction de recherche du navigateur dans le contenu est considérée comme équivalente à un moteur de recherche. Dans ce cas-là, le critère est non applicable.</p>

<p>Note : l’appréciation d’un nombre très limité de pages devrait réserver ce cas particulier à un site de 2 ou 3 pages, par exemple, avec un volume de contenu peu important.</p>