<p>Les champs ayant l’attribut aria-invalid="true" dont la saisie requiert un type de données et/ou de format obligatoires vérifient-ils une de ces conditions ?</p>

<ul>
<li>Une instructions ou une indication du type de données et/ou de format obligatoire est visible et située dans la balise <code>&lt;label&gt;</code> associée au champ.</li>
<li>Une instructions ou une indication du type de données et/ou de format obligatoire est visible et située dans le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> associé au champ.</li>
</ul>