<p>Il existe une gestion de cas particulier lorsque :</p>

<ul>
<li>Les pages d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#ensemble-de-pages">ensemble de pages</a> sont le résultat ou une partie d’un processus (un processus de paiement ou de prise de commande, par exemple) ;</li>
<li>La page est la page d’accueil ;</li>
<li>le site web est constitué d’une seule page.</li>
</ul>

<p>Dans ces situations, le critère est non applicable.</p>