<p>Dans chaque page web, les actions déclenchées au moyen d’un dispositif de pointage sur un point unique de l’écran vérifient-elles l’une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>L’action est déclenchée au moment où le dispositif de pointage est <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#relache-ou-releve">relâché ou relevé</a>;</li>
<li>L’action est déclenchée au moment où le dispositif de pointage est <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#presse-ou-pose">pressé ou posé</a> puis annulée lorsque le dispositif de pointage est <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#relache-ou-releve">relâché ou relevé</a>;</li>
<li>Un mécanisme est disponible pour abandonner (avant achèvement de l’action) ou annuler (après achèvement) l’exécution de l’action.</li>
</ul>