<p>Pour chaque contenu de balise <code>&lt;th&gt;</code> ne s’appliquant pas à la totalité de la ligne ou de la colonne, la balise <code>&lt;th&gt;</code> vérifie-t-elle ces conditions ?</p>

<ul>
<li>La balise <code>&lt;th&gt;</code> ne possède pas d’attribut <code>scope</code>.</li>
<li>La balise <code>&lt;th&gt;</code> ne possède pas d’attribut WAI-ARIA <code>role="rowheader"</code> ou <code>"columnheader"</code>.</li>
<li>La balise <code>&lt;th&gt;</code> possède un attribut <code>id</code> unique.</li>
</ul>