<p>Pour chaque page web, chaque procédé de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#redirection">redirection</a> effectué via un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#script">script</a> vérifie-t-il une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>L’utilisateur peut arrêter ou relancer la redirection.</li>
<li>L’utilisateur peut augmenter la limite de temps avant la redirection de dix fois, au moins.</li>
<li>L’utilisateur est averti de l’imminence de la redirection et dispose de vingt secondes, au moins, pour augmenter la limite de temps avant la prochaine redirection.</li>
<li>La limite de temps avant la redirection est de vingt heures, au moins.</li>
</ul>