<p>Dans le cas de tableaux de données ayant des en-têtes sur une seule ligne ou une seule colonne, les en-têtes peuvent être structurés à l’aide de balise <code>&lt;th&gt;</code> sans attribut <code>scope</code>.</p>