<p>L’implémentation d’un attribut WAI-ARIA <code>role="group"</code> ou <code>role="figure"</code> sur l’élément parent <code>&lt;figure&gt;</code> est destiné à pallier le manque de support actuel des éléments <code>&lt;figure&gt;</code> par les technologies d’assistance. L’utilisation d’un élément <code>&lt;figcaption&gt;</code> pour associer une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a> à une image impose au minimum l’utilisation d’un attribut WAI-ARIA <code>aria-label</code> sur l’élément parent <code>&lt;figure&gt;</code> dont le contenu sera identique au contenu de l’élément <code>&lt;figcaption&gt;</code>. Pour s’assurer d’un support optimal, il peut également être fait une association explicite entre le contenu de l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a> de l’image et le contenu de l’élément <code>&lt;figcaption&gt;</code>, par exemple :</p>

<p><code>&lt;img src="image.png" alt="Photo : soleil couchant" /&gt;&lt;figcaption&gt;Photo : crédit xxx&lt;/figcaption&gt;</code></p>

<p>Les attributs WAI-ARIA <code>aria-labelledby</code> et <code>aria-describedby</code> ne peuvent pas être utilisés actuellement par manque de support par les technologies d’assistance.</p>

<p>Note : les images légendées doivent par ailleurs respecter le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#crit-1-1">critère 1.1</a> et le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#crit-1-3">critère 1.3</a> relatifs aux images porteuses d’information.</p>