<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#lien-svg">lien SVG</a> vérifie-t-il une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>L’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-ou-nom-accessible-de-lien">intitulé de lien</a> seul permet d’en comprendre la fonction et la destination.</li>
<li>L’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-ou-nom-accessible-de-lien">intitulé de lien</a> additionné au <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contexte-du-lien">contexte du lien</a> permet d’en comprendre la fonction et la destination.</li>
</ul>