<p>Pour chaque image utilisée comme <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#captcha">CAPTCHA</a>, une solution d’accès alternatif au contenu ou à la fonction du CAPTCHA est-elle présente ?</p>