<p>Chaque image bitmap (balise <code>&lt;canvas&gt;</code>) <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-porteuse-d-information">porteuse d’information</a>, ayant une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a>, vérifie-t-elle ces conditions ?</p>

<ul>
<li>La <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a> dans la page et signalée par l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a> est pertinente.</li>
<li>La <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a> dans la page et signalée par le texte contenu entre <code>&lt;canvas&gt;</code> et <code>&lt;/canvas&gt;</code> est pertinente.</li>
<li>La <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a> contenue entre <code>&lt;canvas&gt;</code> et <code>&lt;/canvas&gt;</code> est pertinente.</li>
<li>La <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a> adjacente à l’image bitmap est pertinente.</li>
<li>La <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a> via un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#lien-ou-bouton-adjacent">lien ou bouton adjacent</a> est pertinente.</li>
<li>Le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> associé via l’attribut WAI-ARIA <code>aria-describedby</code> est pertinent.</li>
</ul>