<p>Dans chaque page web, le texte reste-t-il lisible lorsque l’affichage est modifié selon ces conditions (hors cas particuliers) ?</p>

<ul>
<li>L’espacement entre les lignes (<code>line-height</code>) est augmenté jusqu’à 1,5 fois la taille de la police ;</li>
<li>L’espacement suivant les paragraphes (balise <code>&lt;p&gt;</code>) est augmenté jusqu’à 2 fois la taille de la police ;</li>
<li>L’espacement des lettres (<code>letter-spacing</code>) est augmenté jusqu’à 0,12 fois la taille de la police ;</li>
<li>L’espacement des mots (<code>word-spacing</code>) est augmenté jusqu’à 0,16 fois la taille de la police ;</li>
</ul>