<p>Pour chaque page web, le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#type-de-document">type de document</a> (balise <code>doctype</code>) est-il valide ?</p>