<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#script">script</a> débutant par la balise <code>&lt;script&gt;</code> et ayant une alternative vérifie-t-il une de ces conditions ?</p>

<ul>
<li>L’alternative entre <code>&lt;noscript&gt;</code> et <code>&lt;/noscript&gt;</code> permet d’accéder à des contenus et des fonctionnalités similaires.</li>
<li>La page affichée, lorsque JavaScript est désactivé, permet d’accéder à des contenus et des fonctionnalités similaires.</li>
<li>La page alternative permet d’accéder à des contenus et des fonctionnalités similaires.</li>
<li>Le langage de script côté serveur permet d’accéder à des contenus et des fonctionnalités similaires.</li>
<li>L’alternative présente dans la page permet d’accéder à des contenus et des fonctionnalités similaires.</li>
</ul>