<p>Dans chaque page web, l’information ne doit pas être donnée uniquement <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#indication-donnee-par-la-forme-la-taille-ou-la-position">par la forme, taille ou position</a>. Cette règle est-elle respectée ?</p>