<p>Dans chaque page web, le texte reste-t-il lisible lorsque la <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#taille-des-caracteres">taille des caractères</a> est augmentée jusqu’à 200%, au moins (hors cas particuliers) ?</p>