<p>Dans chaque page web, le code de langue de chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#changement-de-langue">changement de langue</a> est-il valide et pertinent ?</p>