<p>Dans chaque page web, chaque fonctionnalité de téléchargement d’un document bureautique vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>Le document en téléchargement est compatible avec l’accessibilité.</li>
<li>Il existe une version alternative du document en téléchargement compatible avec l’accessibilité.</li>
<li>Il existe une version alternative du document en téléchargement au format HTML.</li>
</ul>