<p>Pour chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#bouton-formulaire">bouton</a> de type <code>image</code> (balise <code>&lt;input&gt;</code> avec l’attribut <code>type="image"</code>), ayant une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a>, cette alternative est-elle pertinente (hors cas particuliers) ?</p>

<ul>
<li>S’il est présent, le contenu de l’attribut <code>alt</code> est pertinent.</li>
<li>S’il est présent, le contenu de l’attribut <code>title</code> est pertinent.</li>
<li>S’il est présent, le contenu de l’attribut WAI-ARIA <code>aria-label</code> est pertinent.</li>
<li>S’il est présent, le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> associé via l’attribut WAI-ARIA <code>aria-labelledby</code> est pertinent.</li>
</ul>