<p>Les rôles WAI-ARIA <code>log</code>, <code>status</code> et <code>alert</code> ont implicitement une valeur d’attribut WAI-ARIA <code>aria-live</code> et <code>aria-atomic</code>. On pourra donc considérer (conformément à la spécification WAI-ARIA 1.1) que :</p>

<ul>
<li>Un attribut WAI-ARIA <code>aria-live="polite"</code> associé à un message de statut peut valoir pour un rôle WAI-ARIA <code>log</code>.</li>
<li>Un attribut WAI-ARIA <code>aria-live="polite"</code> et un attribut <code>aria-atomic="true"</code> associés à un message de statut peuvent valoir pour un rôle WAI-ARIA <code>status</code>.</li>
<li>Un attribut <code>aria-live="assertive"</code> et un attribut <code>aria-atomic="true"</code> associés à un message de statut peuvent valoir pour un rôle WAI-ARIA <code>alert</code>.</li>
</ul>

<p>C’est sous réserve que la nature du message de statut satisfasse bien à la correspondance implicitement établie. Dans le cas d’un message de statut indiquant la progression d’un processus et matérialisé graphiquement par une barre de progression, un rôle WAI-ARIA <code>progressbar</code> explicite est nécessaire.</p>