<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> dont l’objet se rapporte à une information concernant l’utilisateur vérifie-t-il ces conditions ?</p>

<ul>
<li>Le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> possède un attribut autocomplete.</li>
<li>L’attribut autocomplete est pourvu d’une valeur présente dans la liste des valeurs possibles pour l’attribut autocomplete associés à un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a>.</li>
<li>La valeur indiquée pour l’attribut autocomplete est pertinente au regard du type d’information attendu.</li>
</ul>